/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	background: #f8f8f8 url('img/bg-light-yellow.gif') repeat-x fixed;
  color: #080000;
	font-size: 14px;
	margin: 0 auto;
	width: 960px;
}
	
	h2 {
		font-size: 30px;
		font-weight: 200;
	}
	/* colors */
	.yellow-bg {
		background-color: #FCD721;
	}
	
	/* header */
	header {
		background: #FFFFFF url('img/bg-light-yellow.gif') repeat-x;
		overflow: auto;
		position: fixed;
		width: 960px;
		z-index: 20;
		-webkit-box-shadow: 0px 18px 23px rgba(50, 50, 50, 0.03);
		-moz-box-shadow:    0px 18px 23px rgba(50, 50, 50, 0.03);
		box-shadow:         0px 18px 23px rgba(50, 50, 50, 0.03);
}
	header h1 {
		margin: 0;
		width: 356px;
		height: 80px;
		text-indent: -9009px;
		background: transparent url('img/bg-logo.png') no-repeat;
	}
	header h1 a {
		outline: none;
		border: 0;
		display: block;
		height: 100%;
		width: 100%;
	}
	
	/* NAVIGATION
-------------------------------------------------- */
	.nav {
		margin-right: 76px;
	}
	.nav > li > a,
	.nav > li > a:visited,
	.nav > li > a:hover,
	.nav > li > a:focus,
	.nav-pills > .active > a,
	.nav-pills > .active > a:visited,
	.nav-pills > .active > a:hover,
	.nav-pills > .active > a:focus {
	  color: #080000;
		font: italic 16px Georgia, "Times New Roman", Times, serif;
		margin: 0 12px;
		padding: 27px 0 10px;
	  text-decoration: none;
	  background-color: transparent;
	  -webkit-border-radius: 0;
	     -moz-border-radius: 0;
	          border-radius: 0;
	}
	
	.nav > li a {
		border-top: 4px solid transparent;
	}
	.nav > li a:hover, 
	.nav-pills > .active > a,
	.nav-pills > .active > a:visited,
	.nav-pills > .active > a:hover,
	.nav-pills > .active > a:focus {
		border-color: #FCD721;
	}
	
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	background: #FFFFFF url('img/bg-slides.png') repeat-x;
	border-top: 4px solid #FCD721;
	height: 630px;
	margin-bottom: 0;
}
	.carousel-caption p {
		color: #080000;
		font-size: 14px;
	}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
		color: #FCD721;
		font-weight: 300;
		opacity: 1;
  height: 80px;
  margin-top: 0;
  font-size: 110px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}
	.carousel-control:hover {
		color: #080000;
	}
.carousel .item {
  height: 630px;
}
	.carousel .item img {
		position: absolute;
		right: 0;
		bottom: 35px;
	}

.carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 50px;
  margin-top: 100px;
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 960px;
	}

/* Section
------------------------- */
body > section {
	background: #f8f8f8 url('img/bg-white.png') no-repeat 0 80px;
	height: 323px;
	width: 100%;
	padding-top: 80px;
}

	body > section h2 {
		margin-top: 60px;
		text-align: center;
	}
	
	body > section ul {
		border-top: 4px solid #080000;
		list-style: none;
		padding-top: 40px;
		margin: 0 auto;
		text-align: center;
		width: 390px;
	}
	
	body > section li {
		display: inline;
		margin-right: 20px;
	}
	
	body > section li + li {
		margin-right: 0;
	}
	
	body > section li a,
	body > section li a:visited,
	body > section li a:hover,
	body > section li a:focus {
		background-color: #FCD721;
		color: #080000;
		font: italic 20px Georgia, "Times New Roman", Times, serif;
		padding: 9px 14px;
		text-decoration: none;
	}
	body > section li a:hover {
		color: white;
	}

	section {
	  overflow: hidden; /* Vertically center images part 2: clear their floats. */
	}
	
/* black heading menu */
.black-menu {
	background: #080000 url('img/bg-black.png') no-repeat;
	text-align: center;
	height: 80px;
	width: 100%;
}
	.black-menu h2 {
		color: #FFFFFF;
		margin-top: 20px;
	}
	
/* grid section */
.grid {
	background: #FFFFFF;
	text-align: center;
}
.grid::before {
	content: url('img/bg-arrow-black.png');
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
	.grid .row {
		margin-top: 60px;
	}
	.grid .span4 img {
		border-bottom: 2px solid #FCD721;
	}
	
/* about section */
.about {
	background: #080000 url('img/bg-studio.jpg') no-repeat top center;
	border-top: 4px solid #A7A9AC;
	height: 526px;
	text-align: center;
	width: 100%;
	padding-top: 110px;
}
	.about h2,
	.about p {
		margin: 0 auto;
		width: 350px;
	}
	.about h2 {
		color: #FCD721;
		margin-bottom: 15px;
	}
	.about p {
		color: #A7A9AC;
		font: italic 16px Georgia, "Times New Roman", Times, serif;
	}
.about .seperator {
	border-bottom: 2px solid #A7A9AC;
	margin-bottom: 30px;
	padding: 0 0 15px;
}

/* contact section */
.contact {
	background: #CECFD0 url('img/bg-grey.png') no-repeat;
	border-top: 4px solid #FFFFFF;
	height: 571px;
	width: 100%;
}
	.contact h2 {
		border-bottom: 3px solid #FFFFFF;
		color: #FFFFFF;
		margin: 30px auto 50px;
		width: 150px;
	}
	.contact p {
		font: italic 16px Georgia, "Times New Roman", Times, serif;
		float: left;
		margin: 25px 0 0 40px;
		width: 250px;
	}
	.contact form {
		float:left;
		margin-left: 60px;
		width: 560px;
	}
		.contact form label {
			color: #A7A9AC;
			font: italic 16px Georgia, "Times New Roman", Times, serif;
		}
		.contact form input, .contact form textarea {
			width: 95%;
		}
		.contact form ol {
			list-style: none;
		}
		.contact .btn {
			margin-right: 5px;
			width: 100px;
		}
		select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
			height: 25px;
			padding: 4px 10px;
		}

/* footer */
footer {
	background: #A7A9AC url('img/bg-technology.png') no-repeat;
	border-top: 4px solid #FCD721;
	color: #D1D3D4;
	height: 384px;
	width: 100%;
}
	footer h2 {
		border-bottom: 3px solid #D1D3D4;
		margin: 20px auto 40px;
		width: 300px;
		text-align: center;
	}
	footer p {
		font-size: 16px;
		margin: 250px 20px 0;
	}
	
.carousel, body > section, .container, .about, .contact, footer {
	-webkit-box-shadow: 0px 0px 23px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 0px 23px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 0px 23px rgba(50, 50, 50, 0.03);
}